:root {
  --ff: 'Outfit', sans-serif;

  --fs-regular: 0.9375rem;
  --fs-bold: 1.47rem;

  --fw-normal: 400;
  --fw-bold: 700;

  --clr-white: hsl(0, 0%, 100%);

  --clr-slate-300: hsl(212, 45%, 89%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-900: hsl(218, 44%, 22%);

  --card-box-shadow: 0 1.667rem 1.667rem 0 rgba(0, 0, 0, 0.05);
  --card-hover-box-shadow: 0 2.33rem 2.33rem rgba(0, 0, 0, 0.1);
  --card-transition: transform 0.3s ease, box-shadow 0.3s ease;
  --card-transition-reduced-motion: transform 1s ease, box-shadow 1s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: var(--ff);
  font-size: var(--fs-regular);
  font-weight: var(--fw-normal);
  line-height: 1.4;
}

body {
  margin: 0;
  height: 100%;
  background: var(--clr-slate-300);
}

.wrapper {
  display: grid;
  place-items: center;

  min-height: 100vh;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 21.33rem;

  padding-inline: 1.067rem;
  padding-block-start: 1.067rem;
  padding-block-end: 2.667rem;

  border-radius: 1.334rem;
  box-shadow: var(--card-box-shadow);
  background: var(--clr-white);

  text-align: center;
  overflow: hidden;

  transition: var(--card-transition);
}

.card:hover {
  transform: translateY(-0.3rem);
  box-shadow: var(--card-hover-box-shadow);
}

@media (prefers-reduced-motion: reduce) {
  .card {
    transition: var(--card-transition-reduced-motion);
  }
}

.card__img {
  display: block;

  border-radius: 0.67rem;
  width: 100%;
}

.card__content {
  padding-inline: 1.067rem;
  margin-block-start: 1.6rem;
}

.card__header {
  font-size: var(--fs-bold);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--clr-slate-900);
  letter-spacing: 0;
  margin: 0;
}

.card__description {
  margin: 0;
  margin-block-start: 1.067rem;

  color: var(--clr-slate-500);
  letter-spacing: 0.2px;
}

@media (max-width: 23.33rem) {
  :root {
    font-size: 0.8rem;
  }

  .card {
    padding: 1rem;
  }

  .card__content {
    margin-block-start: 1rem;
    padding: 0 0.5rem;
    text-wrap: balance;
  }
}
