:root {
  --ff: 'Outfit', sans-serif;

  font-size: 15px;
  --fs-regular: 1rem;
  --fs-bold: 1.47rem;

  --fw-normal: 400;
  --fw-bold: 700;

  --clr-white: hsl(0, 0%, 100%);

  --clr-slate-300: hsl(212, 45%, 89%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-900: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: var(--ff);
  font-size: var(--fs-regular);
  font-weight: var(--fw-normal);
  line-height: 1.4;
}

body {
  margin: 0;
  height: 100%;
  background: var(--clr-slate-300);
}

.wrapper {
  display: grid;
  place-items: center;

  min-height: 100vh;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 320px;

  padding: 16px 16px 40px 16px;
  border-radius: 1.334rem;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
  background: var(--clr-white);

  text-align: center;
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.1);
}

@media (prefers-reduced-motion: reduce) {
  .card {
    transition: transform 1s ease, box-shadow 1s ease;
  }
}

.card__img {
  display: block;

  border-radius: 0.67rem;
  width: 100%;
}

.card__content {
  padding-left: 16px;
  padding-right: 16px;
  margin-block-start: 24px;
}

.card__header {
  font-size: var(--fs-bold);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--clr-slate-900);
  letter-spacing: 0;
  margin: 0;
}

.card__description {
  margin: 0;
  margin-block-start: 16px;

  color: var(--clr-slate-500);
  letter-spacing: 0.2px;
}

@media (max-width: 350px) {
  :root {
    font-size: 0.8rem;
  }

  .card {
    padding: 1rem;
  }

  .card__content {
    margin-block-start: 1rem;
    padding: 0 0.5rem;
    text-wrap: balance;
  }
}
